<div class="pure-g">
  <div class="pure-u-1 pure-u-md-3-5">
    <p style="padding: 0 10px 10px 10px;" ng-show="planner.lineItems.length===0">
      Get started managing your budget by adding a line item.
    </p>
    <div class="metric-module" ng-hide="planner.lineItems.length===0">
      <span style="font: normal 12pt sans-serif;">Known monthly debt vs. income</span>
      <div id="amount-graph"><div ng-repeat="part in planner.graphParts" class="graph-part" style="{{planner.getPartStyle(part)}}"></div></div>
      <div class="legend" ng-repeat="part in planner.graphParts">
        <span class="legend-icon" ng-style="{'background-color': part.color}"></span>
        <span style="font: bold 11pt sans-serif; color: #666;">{{part.width}}%</span>
        <span style="font: normal 10pt sans-serif; color: #999;">{{part.name}}</span>
      </div>
    </div>
    <div class="lineItem removable" ng-repeat="item in planner.lineItems | orderBy: ['isAmountless', '-type', 'name']">
      <i ng-class="'fa fa-' + item.type + '-circle ' + item.type"></i>
      <span class="name">{{item.name}}</span>
      <i ng-show="item.isAmountless" class="fa fa-bar-chart"></i>
      <span ng-hide="item.isAmountless">
        in the amount of
        <span class="amount">{{item.amount | currency}}</span>
      </span>
      <span ng-show="item.freq">
        every {{item.freq.per}} on
        <span ng-repeat="date in item.freq.on">
          <span ng-show="date.M">{{date.M}}/</span><span>{{date.D}}</span>
        </span>
      </span>
      <div ng-init="showConfirm = false" ng-mouseleave="showConfirm = false" style="display: inline-block;">
        <button type="button" class="pure-button showOnHover" ng-hide="showConfirm" ng-click="showConfirm = true">
          <i class="fa fa-times-circle"></i> Close item
        </button>
        <button type="button" class="button-warning pure-button" ng-show="showConfirm" ng-click="planner.closeLineItem(item)">
          <i class="fa fa-exclamation-triangle"></i> Confirm close
        </button>
      </div>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-2-5">
    <h2 class="section-header">Add a Line Item</h2>
    <line-item-adder></line-item-adder>
  </div>
</div>
