/* app css stylesheet */
.lineItems {
  list-style-type: none;
  padding:0;
  margin:0;
}
.lineItem {
  padding: 10px;
  font: normal 10pt sans-serif;
  color: #999;
}
.lineItem > .name {
  font: bold 16pt sans-serif;
  color: black;
}
.lineItem > .amount {
  font: normal 12pt sans-serif;
  color: black;
}
.lineItem > .minus {
  color: red;
}
.lineItem > .plus {
  color: green;
}