/* app css stylesheet */
.lineItems {
  list-style-type: none;
  padding:0;
  margin:0;
}
.lineItem {
  padding: 10px;
  font: normal 10pt sans-serif;
  color: #999;
}
.lineItem > .name {
  font: bold 16pt sans-serif;
  color: black;
}
.lineItem > .amount {
  font: normal 12pt sans-serif;
  color: black;
}
.lineItem > .minus {
  color: red;
}
.lineItem > .plus {
  color: green;
}
fieldset.dates {
  display: inline-block;
  margin-left: 5px;
}
#itemAdder {
  margin-left: 10px;
}
input.num_long {
  width: 120px;
}
input.num_short {
  width: 80px;
}
div.field {
  display: inline-block;
  vertical-align: top;
}
div.field > span.error {
  display: block;
  margin-top: 3px;
  border-radius: 5px;
  border: solid 2px #EE514C;
  font: normal 10pt sans-serif;
  color: #EE514C;
  padding: 5px;
}
fieldset.dates {
  padding-top: 0;
  vertical-align: top;
}
.fake_button {
  display: inline-block;
  padding: 5px;
  border: solid 2px #B5DEFF;
  color: #1F8DEE;
  border-radius: 8px;
}
.valid_button {
  border-color: #B4ED91;
  color: #52BA11;
  background-color: transparent;
}