.cashew-nav {
  background-color: #EEE;
}
.cashew-brand {
  margin-left: 10px;
  background-color: #9DE352; /* #A5E85D; */
  color: white;
  text-shadow: 1px 1px #6BCF00;
  font-size: 14pt;
  font-family: 'Capriola', sans-serif;
  text-transform: none;
}
.cashew-brand:hover {
  background-color: #A5E85D;
}
.cashew-nav li {
  line-height: 18pt;
  margin-left: 1px;
}
.cashew-nav-link:hover {
  background-color: #F8F8F8;
}

.lineItems {
  list-style-type: none;
  padding:0;
  margin:0;
}
.lineItem {
  padding: 10px;
  font: normal 10pt sans-serif;
  color: #999;
}
.lineItem > .name {
  font: bold 16pt sans-serif;
  color: black;
}
.lineItem > .amount {
  font: normal 12pt sans-serif;
  color: black;
}
.lineItem > .minus {
  color: red;
}
.lineItem > .plus {
  color: green;
}
.lineItem .showOnHover {
  visibility: hidden;
}
.lineItem:hover .showOnHover {
  visibility: visible;
}
fieldset.dates {
  display: inline-block;
  margin-left: 5px;
}
#itemAdder {
  margin-left: 10px;
}
input.num_long {
  width: 120px;
}
input.num_short {
  width: 80px;
}
div.field {
  display: inline-block;
  vertical-align: top;
}
div.field > span.error {
  display: block;
  margin-top: 3px;
  border-radius: 5px;
  border: solid 2px #EE514C;
  font: normal 10pt sans-serif;
  color: #EE514C;
  padding: 5px;
}
fieldset.dates {
  padding-top: 0;
  vertical-align: top;
}
.fake_button {
  display: inline-block;
  padding: 5px;
  border: solid 2px #B5DEFF;
  color: #1F8DEE;
  border-radius: 8px;
}
.valid_button {
  border-color: #B4ED91;
  color: #52BA11;
  background-color: transparent;
}
/* Dashboard view */
div.upcoming_lineitems {
  padding: 10px 10px 10px 10px;
  border-bottom: solid 1px #DEDEDE;
}
div.paid {
  text-decoration: line-through;
  text-decoration-color: #888;
  color: #ccc;
}
span.amount_label_paid {
  font: 11pt sans-serif;
  color: #ccc;
  border: solid 1px #eee;
  border-radius: 3px;
  padding: 3px;
}
span.amount_label {
  font: 11pt sans-serif;
  color: #F24968;
  border: solid 1px #FFBFCB;
  border-radius: 3px;
  padding: 3px;
}
span.due_label {
  font: 10pt sans-serif;
  padding: 0;
  margin: 0;
  float: right;
  color: #777;
}
/* Calendar widget */
#calendar {
  width: 100%;
}
#calendar td {
  width: 14%;
  vertical-align: top;
  text-align: right;
}
#calendar .month_label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10pt;
}
#calendar span.amount_label {
  display: block;
  margin-top: 3px;
}
#calendar span.amount_label_paid {
  display: block;
  text-decoration: line-through;
  text-decoration-color: #888;
  margin-top: 3px;
}
#calendar span.today {
  border: solid 1px #4DC9FF;
  border-radius: 15px;
  padding: 3px;
}
