<form class="pure-form" ng-submit="adder.addItem()" name="itemAdder" id="itemAdder">
  <div class="field">
    <div class="button-group">
      <button type="button" class="pure-button" ng-class="{'pure-button-active' : adder.lineItem.type === 'minus'}" ng-click="adder.preparePayable()">
        Payable
      </button><button type="button" class="pure-button" ng-class="{'pure-button-active' : adder.lineItem.type === 'plus'}" ng-click="adder.prepareEarnable()">
        Earnable
      </button>
    </div>
    <span class="tip">Line item type?</span>
    <span class="tip" ng-show="adder.lineItem.type === 'plus'" style="clear: both; color: #ddd;">(Aww yeahh)</span>
  </div>
  <div class="field">
    <label for="name" class="tip">Give it a name</label>
    <input name="name" ng-model="adder.lineItem.name" ng-model-options="{ debounce: 200 }" placeholder="Item name..." type="text">
  </div>
  <div class="field">
    <label for="amt" class="tip">Amount to <span ng-show="adder.lineItem.type === 'minus'">pay</span><span ng-show="adder.lineItem.type === 'plus'">earn</span></label>
    <input ng-disabled="adder.lineItem.varies" name="amt" class="num_long" ng-model="adder.lineItem.amount" ng-model-options="{ debounce: 200 }" type="text" pattern="[0-9]+(\.[0-9][0-9])?" placeholder="0.00">
    <div ng-show="adder.lineItem.type === 'minus'" style="margin-top: 7px;">
      <input name="varies" type="checkbox" ng-model="adder.lineItem.varies" ng-click="adder.lineItem.amount = null"> It varies
    </div>
  </div>
  <div class="field">
    <span class="tip">How often?</span>
    <div class="button-group">
      <button type="button" class="pure-button" ng-class="{'pure-button-active' : adder.lineItem.period === 'mo'}" ng-click="adder.lineItem.period = 'mo'">
        Monthly
      </button><button type="button" class="pure-button" ng-class="{'pure-button-active' : adder.lineItem.period === 'yr'}" ng-click="adder.lineItem.period = 'yr'">
        Yearly
      </button>
    </div>
    <div ng-show="adder.showSplitPayableOption(adder.lineItem)" style="margin-top: 7px;">
      <input id="split" type="checkbox" ng-model="adder.lineItem.split"> <label for="split">Split into monthly chunks</label>
    </div>
  </div>
  <div class="field">
    <span class="tip" style="z-index: 100;">On which date<span ng-show="adder.lineItem.dates.length > 1">s</span>?</span>
    <div ng-repeat="date in adder.lineItem.dates" class="dates removable" ng-class="{'last_date' : $last}">
      <span ng-show="$index>0">and </span><span>on</span>
      <select ng-show="adder.lineItem.period==='yr'" ng-model="date.M">
        <option value="1">Jan</option>
        <option value="2">Feb</option>
        <option value="3">Mar</option>
        <option value="4">Apr</option>
        <option value="5">May</option>
        <option value="6">Jun</option>
        <option value="7">Jul</option>
        <option value="8">Aug</option>
        <option value="9">Sep</option>
        <option value="10">Oct</option>
        <option value="11">Nov</option>
        <option value="12">Dec</option>
      </select>
      <input class="num_short" type="number" placeholder="day" min="1" max="31" ng-model="date.D" ng-model-options="{ debounce: 200 }">
      <button type="button" class="pure-button showOnHover" ng-click="adder.removeDateFromLineItem(date)" ng-hide="$index===0">
        <i class="fa fa-trash-o"></i>
      </button>
    </div>
    <button type="button" class="pure-button" ng-click="adder.addDateToLineItem()" ng-show="adder.allowAddingDate()" style="margin-top: 10px;">
      <i class="fa fa-plus"></i> Add date
    </button>
  </div>
  <p style="padding: 10px 10px 0 10px; margin: 0;" ng-show="adder.errorMessage!==null">
    <i class="fa fa-info-circle"></i>
    {{adder.errorMessage}}
  </p>
  <button class="pure-button pure-button-primary" style="float: right; margin: 10px;">
    <i class="fa fa-check-circle"></i>
    Save
  </button>
</form>
