
<h2>the things (you know) page</h2>

<ul class="lineItems">
  <li class="lineItem" ng-repeat="item in view1.lineItems">
    <i ng-class="'fa fa-' + item.type + '-circle ' + item.type"></i>
    <span class="name">{{item.name}}</span> in the amount of 
    <span class="amount">{{item.amount | currency}}</span> 
    <span ng-show="item.freq">
      every {{item.freq.per}} on 
      <span ng-repeat="date in item.freq.on">
        <span ng-show="date.M">{{date.M}}/</span>
        <span>{{date.D}}</span>
      </span>
    </span>
  </li>
</ul>

<form class="pure-form" ng-submit="view1.addItem()" name="itemAdder" id="itemAdder">
  <fieldset>
    <div class="field">
      <input name="name" ng-model="view1.lineItem.name" ng-model-options="{ debounce: 200 }" type="text" placeholder="New line item..." required>
    </div>
    <div class="field">
      <input name="amt" class="num_long" ng-model="view1.lineItem.amount" ng-model-options="{ debounce: 200 }" type="text" pattern="-?[0-9]+\.?[0-9]?[0-9]?" placeholder="0.00" required>
    </div>
    <span>occurs</span>
    <select ng-model="view1.lineItem.period">
      <option value="once">once</option>
      <option value="mo">monthly</option>
      <option value="yr">yearly</option>
    </select>
  </fieldset>
  <div ng-show="view1.lineItem.period!=='once'">
    <fieldset ng-repeat="date in view1.lineItem.dates" class="dates">
      <div class="field">
        <span ng-show="$index>0">and </span><span>on</span>
        <select ng-show="view1.lineItem.period==='yr'" ng-model="date.M">
          <option value="1">Jan</option>
          <option value="2">Feb</option>
          <option value="3">Mar</option>
          <option value="4">Apr</option>
          <option value="5">May</option>
          <option value="6">Jun</option>
          <option value="7">Jul</option>
          <option value="8">Aug</option>
          <option value="9">Sep</option>
          <option value="10">Oct</option>
          <option value="11">Nov</option>
          <option value="12">Dec</option>
        </select>
        <input class="num_short" type="number" placeholder="day" min="1" max="31" ng-model="date.D" ng-model-options="{ debounce: 200 }">
      </div>
    </fieldset>
    <button type="button" class="pure-button" ng-click="view1.addDateToLineItem()" ng-disabled="!view1.allowAddingDate()">
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <span name="instructions" class="fake_button" ng-hide="getErrorMessage(view1.lineItem)===null">
    <i class="fa fa-question-circle"></i>
    {{getErrorMessage(view1.lineItem)}}
  </span>
  <button class="fake_button valid_button" ng-show="getErrorMessage(view1.lineItem)===null">
    <i class="fa fa-check-circle"></i>
    Add line item.
  </button>
</form>
