<ul class="lineItems">
  <li class="lineItem" ng-repeat="item in lister.lineItems">
    <i ng-class="'fa fa-' + item.type + '-circle ' + item.type"></i>
    <span class="name">{{item.name}}</span> in the amount of 
    <span class="amount">{{item.amount | currency}}</span> 
    <span ng-show="item.freq">
      every {{item.freq.per}} on 
      <span ng-repeat="date in item.freq.on">
        <span ng-show="date.M">{{date.M}}/</span>
        <span>{{date.D}}</span>
      </span>
    </span>
    <button type="button" class="pure-button showOnHover" ng-click="lister.removeLineItem(item)">
      <i class="fa fa-trash-o"></i>
    </button>
  </li>
</ul>

<line-item-adder></line-item-adder>
